<aside>
    <article class="primary-accent booking-aside">
        <div>
            <h1><img src="/images/glyphicons/png/glyphicons-443-earphone.png">Book by phone</h1>
            <div>
                <h2>Colchester</h2>
                <h2><a class="phone-nums" href="tel:0397205515">(03) 9720-5515</a></h2>
            </div>
            <div>
                <h2>Knoxfield</h2>
                <h2><a class="phone-nums" href="tel:0398019055">(03) 9801-9055</a></h2>
            </div>
            <div>
                <span class="font-size-22">After-Hours</span>
                <span class="font-size-22"><a class="phone-nums" href="tel:1902260044">1902-260-044</a><sup>*</sup></span>
            </div>
        </div>
    </article>
    <article class="secondary-accent booking-aside">
        <div>
            <h1><img src="/images/glyphicons/png/glyphicons-164-iphone.png">Book Online</h1>
            <a href="Booking_Colchester.html" class="buttonHome">Click here for Colchester</a>
            <a href="Booking_Knoxfield.html" class="buttonHome">Click here for Knoxfield</a>
        </div>
    </article>
    <article class="primary-accent booking-aside">
        <div>
            <h1>Locations</h1>
            <div>
                <img class="marker-pad" src="/images/glyphicons/png/glyphicons-243-map-marker.png">
                <span>310 Colchester Rd,<br />Bayswater North VIC 3153</span>
            </div>
            <div>
                <img class="marker-pad" src="/images/glyphicons/png/glyphicons-243-map-marker.png">
                <span>34 Riddell Rd,<br />Wantirna South VIC 3152</span>
            </div>
            <a href="Locations.html">See on map</a>
        </div>
    </article>
</aside>