<footer>
    <!--This was updated by updateFooter.py-->
    <!--This will have all the secondary navigation-->


    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">

    <div id="footer-logo-notext">
        <img src="/images/familydoctor.melbourne%20Logo%20notext.svg">
    </div>


    <div id="footer-logo">
        <span class="banner-title"><b><span class="strBlue">familydoctor</span><span class="lightBlue">.melbourne</span></b></span>
        <span class="banner-sub">AND TRAVEL MEDICINE</span>
    </div>
    <div id="footer-social-media">
        <ul id="footer-social-menu">
            <li><a target="_blank" href="https://www.facebook.com/ColchesterMedCtr/"><img src="/images/glyphicons-social/png/glyphicons-social-31-facebook.png"></a></li>
            <!--<li><a><img src="/images/glyphicons-social/png/glyphicons-social-32-twitter.png"></a></li>-->
            <li><a href="Accreditation.html"><img src="/images/logos/img-agpal-accredited.png"></a></li>
        </ul>
    </div>
    <div id="footer-menu-inline">
        <ul id="footer-primary-menu">
            <li><a href="Accreditation.html">Accreditation</a></li>
            <li><a href="Your_Rights.html">Your Rights</a></li>
            <li><a href="Zero_Tolerance_Info.html">Zero Tolerance Policy</a></li>
            <li><a href="Unacceptable_Behaviour_Policy.html">Unacceptable Behaviour Policy</a></li>
            <li><a href="Legal.html">Legal</a></li>
        </ul>
    </div>
    <div>
        <ul id="footer-emergency-menu">
            <li>Suicide Line: <a class="phone-nums" href="tel:1300651251">1300 651 251</a></li>
            <li>|</li>
            <li>Life Line: <a class="phone-nums" href="tel:131114">13 11 14</a></li>
            <li>|</li>
            <li>Poisons Information: <a class="phone-nums" href="tel:131126">13 11 26</a></li>
        </ul>
    </div>
    <p><span id="author-tag">Created by Andrew Jakubowicz</span></p>
    <div id="asterix">
        <span><sup>*</sup> Charges apply ($5.50/min & maybe higher for mobiles or payphones)</span>
    </div>
</footer>